<h2><%= contact.name %></h2>
  <div>
    <p><strong>Phone Number: </strong><%= contact.phone %></p>
    <p><strong>Address: </strong><%= contact.address %><br><%= contact.city %>, <%= contact.state %>, <%= contact.residentCountry %></p>
    <p></p>
  </div>