<p id="notice"><%= notice %></p>

<h1>Armors</h1>

<table>
  <thead>
    <tr>
      <th>Armor</th>
      <th>Concealment</th>
      <th>Speed</th>
      <th>Dodge</th>
      <th>Steadiness</th>
      <th>Stamina</th>
      <th>Description</th>
      <th>Armorcategory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @armors.each do |armor| %>
      <tr>
        <td><%= armor.armor %></td>
        <td><%= armor.concealment %></td>
        <td><%= armor.speed %></td>
        <td><%= armor.dodge %></td>
        <td><%= armor.steadiness %></td>
        <td><%= armor.stamina %></td>
        <td><%= armor.description %></td>
        <td><%= armor.armorCategory %></td>
        <td><%= link_to 'Show', armor %></td>
        <td><%= link_to 'Edit', edit_armor_path(armor) %></td>
        <td><%= link_to 'Destroy', armor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Armor', new_armor_path %>
