<p id="notice"><%= notice %></p>

<p>
  <strong>Armor:</strong>
  <%= @armor.armor %>
</p>

<p>
  <strong>Concealment:</strong>
  <%= @armor.concealment %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @armor.speed %>
</p>

<p>
  <strong>Dodge:</strong>
  <%= @armor.dodge %>
</p>

<p>
  <strong>Steadiness:</strong>
  <%= @armor.steadiness %>
</p>

<p>
  <strong>Stamina:</strong>
  <%= @armor.stamina %>
</p>

<p>
  <strong>Description:</strong>
  <%= @armor.description %>
</p>

<p>
  <strong>Armorcategory:</strong>
  <%= @armor.armorCategory %>
</p>

<%= link_to 'Edit', edit_armor_path(@armor) %> |
<%= link_to 'Back', armors_path %>
